{% extends 'base.html.twig' %}
{% block meta %}
    <meta name="description" content="{{ article.metaDescription }}">
{% endblock %}
{% block title %}Jade Immobilier-Actualité{% endblock %}

{% block body %}
<section class="container-home-bis">
    <div class="container-header-bis">
        {{ include('_include/_mainNavigation.html.twig') }}
        <div class="home-img-bis">
            <img src="{{ asset('img/jade-accueil-img.jpg') }}" alt="">
        </div>
        <div class="home-title-search container-large">
            <div class="home-title-bis">
                <h1><span class="title-anim-bis">{{ article.title }}</span></h1>
                <p>Publié le:  {{ article.createdDate|date('d - m - Y') }}</p>
            </div>
        </div>
    </div>
</section>

<section class="container-medium container-text-actu">
    {{ article.content|raw }}
</section>

<section class="container-large container-article">
    <h2>Les articles similaires</h2>
    <div class="bloc-actu">
        {% for art in articleSimilaire %}
        <div>
            <img src="{{ asset('/uploads/'~art.imageEnAvant) }}" alt="">
            <h3>{{ art.title }}</h3>
            <a href="{{ path('actu_show',{slug:art.slug}) }}">Lire la suite</a>
        </div>
        {% endfor %}

    </div>
</section>
{{ include('_include/_mainFooter.html.twig') }}
{% endblock %}
{% block javascripts %}

{% endblock %}