{% extends 'base.html.twig' %}

{% block title %}Les actualités de l'agence{% endblock %}

{% block meta %}
    <meta name="description" content="Suivez toutes les actualités de l'Agence Jade à Bordeaux. Nous vous informons sur l'immobilier à Bordeaux, mais aussi sur l'agence et tous nos biens. ">
{% endblock %}

{% block body %}
<section class="container-home-bis">
    <div class="container-header-bis">
        {{ include('_include/_mainNavigation.html.twig') }}
        <div class="home-img-bis">
            <img src="{{ asset('img/jade-accueil-img.jpg') }}" alt="">
        </div>
        <div class="home-title-search container-large">
            <div class="home-title-bis">
                <h1><span class="title-anim-bis">Les actualités</span></h1>
            </div>
        </div>
    </div>
</section>

<section class="container-large container-actu">
    {% for actu in articles %}
    <div>
        <img src="{{ asset('/uploads/'~actu.imageEnAvant) }}" alt="">
        <h2>{{ actu.title }}</h2>
        <p>{{ actu.content|slice(0,200) |striptags|raw }}...</p>
        <a href="{{ path('actu_show',{slug : actu.slug}) }}">Lire la suite</a>
    </div>
    {% endfor %}


</section>

<section class="container-large button-plus">
    <div class="button-1">
        <a href="{{ path('actualite') }}">Voir plus d'actualités</a>
    </div>
</section>


<section class="container-love container-large">
    <h2>Les coups de coeur de Jade</h2>
    <div class="bloc-love">
        {% for coeur in coupDeCoeur |slice(0,3) %}
            <a href="{{ path('presentation',{slug: coeur.slug}) }}">
                <div class="love-item">
                    <div class="love-item_cadre-img">
                        <img src="{{ asset('/uploads/'~coeur.imageEnAvant) }}" alt="">
                    </div>
                    <h3>{{ coeur.localisation }}</h3>
                    <div class="item-desc">
                        <p>{{ coeur.surfaceHabitable }}m2</p>
                        <p>{{ coeur.nombreDeChambre }}ch</p>
                        <p>{{ coeur.nombreDeSalleDeBain }}sdb</p>
                        {% if coeur.surfaceDuTerrain != 0 %}
                            <p>Terrain {{ coeur.surfaceDuTerrain }} m2</p>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>
</section>

<section class="container-large">
    <div class="container-contact border-top-bottom">
        <h2>Vous cherchez à acheter ou vendre un bien d’exception ? </h2>
        <p>Conseils, suivi, accompagnement, nous vous accompagnons tout au long du processus d’achat et de vente.</p>
        <div class="button-1">
            <a href="">Contactez-nous</a>
        </div>
    </div>
</section>
{{ include('_include/_mainFooter.html.twig') }}
{% endblock %}
{% block javascripts %}
{% endblock %}