{% extends 'base.html.twig' %}

{% block title %}L'agence Jade{% endblock %}

{% block meta %}
    <meta name="description" content="Située en plein cœur de Bordeaux, Jade est une agence immobilière spécialisée dans l’achat et la vente de biens d'exception.">
{% endblock %}

{% block body %}
<section class="container-main">
    <div class="container-header-main">
{{ include('_include/_mainNavigationBlack.html.twig') }}
    </div>
</section>

    <section class="agency-desc bloc-text container-medium">
        <h1><span class="title-anim-bis">Jade, votre agence immobilière à Bordeaux</span></h1>
        <p>Située en plein cœur de Bordeaux, Jade est une agence immobilière spécialisée dans l’achat et la vente de biens d'exception. De la  première visite jusqu’à la signature du compromis de vente, notre équipe est à l’écoute de vos besoins et vous assure un suivi rigoureux et sur-mesure. Chez Jade, notre expérience, notre savoir-faire et notre réseau sont mobilisés pour trouver la maison ou l’appartement de vos rêves.
        </p>
    </section>

    <section class="container-photo-agency container-medium">
        <div class="photo-agency-1">
            <img src="{{ asset('img/agence-1.jpg') }}" alt="">
        </div>
        <div class="photo-agency-2">
            <img src="{{ asset('img/agence-2.jpg') }}" alt="">
        </div>
    </section>

    <section class="container-large">
        <div class="container-offer text-black border-top-bottom">
            <div class="bloc-offer">
                <h2>Expertise</h2>
                <p>L’aboutissement de votre projet immobilier est notre priorité. Nous mettons donc à votre disposition tout notre savoir faire ainsi que les moyens nécessaires pour atteindre vos objectifs.</p>
            </div>
            <div class="bloc-offer">
                <h2>Confiance</h2>
                <p>Chez Jade, nous sommes animés par notre métier et mettons un point d’honneur à comprendre vos attentes. Notre démarche conseil s’inscrit dans une relation de confiance pour vous accompagner au mieux dans votre projet.</p>
            </div>
            <div class="bloc-offer">
                <h2>Bordeaux</h2>
                <p>Au cœur de la capitale du vin, Jade Immobilier incarne Bordeaux et ses valeurs : l’humain, le prestige et le savoir-faire. Pour votre projet immobilier, nous explorons la région bordelaise pour vous proposer des biens d’exception.</p>

            </div>
        </div>
    </section>

    <section class="container-medium">
        <div class="container-service">
            <h2>Notre offre</h2>
            <p>Agence immobilière à taille humaine, Jade sait que chaque projet est singulier. C’est pourquoi notre équipe s’engage à vous fournir un suivi de qualité. Réactif, rigoureux et efficace, nous vous garantissons une expérience haut de gamme.</p>
        </div>
        <div class="container-offer">
            <div class="bloc-offer">
                <svg xmlns="http://www.w3.org/2000/svg" width="116.17" height="101.25" viewBox="0 0 116.17 101.25">
                    <g id="Groupe_530" data-name="Groupe 530" transform="translate(-424 -2320.811)">
                        <g id="home" transform="translate(425 2321.811)">
                            <path id="Tracé_315" data-name="Tracé 315" d="M3,36.737,47.662,2,92.324,36.737V91.324a9.925,9.925,0,0,1-9.925,9.925H12.925A9.925,9.925,0,0,1,3,91.324Z" transform="translate(-3 -2)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            <path id="Tracé_316" data-name="Tracé 316" d="M9,61.625V12H38.775V61.625" transform="translate(20.775 37.625)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </g>
                        <g id="tag" transform="translate(491.976 2349.871) rotate(-14)">
                            <path id="Tracé_323" data-name="Tracé 323" d="M37.644,23.877,23.9,37.624a3.835,3.835,0,0,1-5.426,0L2,21.173V2H21.173l16.47,16.47A3.835,3.835,0,0,1,37.644,23.877Z" transform="translate(0 0)" fill="#fff" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            <line id="Ligne_162" data-name="Ligne 162" x2="0.019" transform="translate(11.587 11.587)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                        </g>
                    </g>
                </svg>
                <h3>La vente</h3>
                <p>Estimation, mise en valeur de votre bien, prise en charge des visites, signature du contrat, Jade s’occupe de tout !</p>
            </div>
            <div class="bloc-offer">
                <svg xmlns="http://www.w3.org/2000/svg" width="114.196" height="101.25" viewBox="0 0 114.196 101.25">
                    <g id="Groupe_531" data-name="Groupe 531" transform="translate(-912.974 -2320.811)">
                        <g id="Groupe_426" data-name="Groupe 426" transform="translate(353.974 1458.247)">
                            <g id="home" transform="translate(560 863.563)">
                                <path id="Tracé_315" data-name="Tracé 315" d="M3,36.737,47.662,2,92.324,36.737V91.324a9.925,9.925,0,0,1-9.925,9.925H12.925A9.925,9.925,0,0,1,3,91.324Z" transform="translate(-3 -2)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                <path id="Tracé_316" data-name="Tracé 316" d="M9,61.625V12H38.775V61.625" transform="translate(20.775 37.625)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            </g>
                            <g id="search" transform="translate(618.278 884.818) rotate(-9)">
                                <circle id="Ellipse_13" data-name="Ellipse 13" cx="23.5" cy="23.5" r="23.5" transform="translate(0 0)" fill="#fff" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            </g>
                            <g id="check-circle" transform="translate(632.619 892.59)">
                                <path id="Tracé_312" data-name="Tracé 312" d="M17.305,7.862v.8A8.653,8.653,0,1,1,12.174.75" transform="matrix(0.809, 0.588, -0.588, 0.809, 10.172, 0)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            </g>
                            <path id="Tracé_320" data-name="Tracé 320" d="M-7825,14865.895h8.8" transform="translate(8458.619 -13963.447)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                            <path id="Tracé_321" data-name="Tracé 321" d="M-7825,14865.895h8.8" transform="translate(8458.619 -13958.988)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                        </g>
                    </g>
                </svg>
                <h3>L'achat</h3>
                <p>Vous rêvez d’un bien d'exception ? Jade vous fait profiter de son portefeuille de biens inédits et prestigieux sur la région bordelaise.</p>
            </div>
            <div class="bloc-offer">
                <svg xmlns="http://www.w3.org/2000/svg" width="114" height="101.25" viewBox="0 0 114 101.25">
                    <g id="Groupe_532" data-name="Groupe 532" transform="translate(-1405 -2320.811)">
                        <g id="home" transform="translate(1406 2321.811)">
                            <path id="Tracé_315" data-name="Tracé 315" d="M3,36.737,47.662,2,92.324,36.737V91.324a9.925,9.925,0,0,1-9.925,9.925H12.925A9.925,9.925,0,0,1,3,91.324Z" transform="translate(-3 -2)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            <path id="Tracé_316" data-name="Tracé 316" d="M9,61.625V12H38.775V61.625" transform="translate(20.775 37.625)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </g>
                        <g id="help-circle" transform="translate(1471 2336.876)">
                            <circle id="Ellipse_18" data-name="Ellipse 18" cx="22.5" cy="22.5" r="22.5" transform="translate(2 2.124)" fill="#fff" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            <path id="Tracé_324" data-name="Tracé 324" d="M9.09,11.55a6.817,6.817,0,0,1,13.247,2.272c0,4.544-6.817,6.817-6.817,6.817" transform="translate(9.02 6.355)" fill="#fff" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            <line id="Ligne_163" data-name="Ligne 163" x2="0.023" transform="translate(24.722 36.083)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </g>
                    </g>
                </svg>
                <h3>Le conseil</h3>
                <p>Acheter ou vendre un bien est une étape importante dans une vie. Afin d’optimiser votre temps et d’atteindre votre objectif Jade vous accompagne tout au long de ce processus.</p>
            </div>
        </div>
    </section>

    <section class="container-bg">
        <div class="container-small container-portrait">
            <div class="bloc-portrait-desc text-white">
                <div class="bloc-portrait_title text-white">
                    <h2>Arthur JOYAUX</h2>
                    <p>Fondateur de Jade Immobilier</p>
                </div>
                <p>Le respect, l'engagement et l’excellence sont les valeurs que je défends. Expert de l’immobilier, mon objectif principal est de répondre au mieux aux exigences de mes clients. Avec Jade Immobilier, je souhaite remettre l’humain au cœur des transactions immobilières. </p>
            </div>
            <div class="bloc-portrait">
                <div class="bloc-portrait_img">
                    <img src="{{ asset('img/photo-arthur-joyaux.jpg') }}" alt="">
                </div>
            </div>
        </div>

    </section>

    <section class="container-love container-large">
        <h2>Les coups de coeur de Jade</h2>
        <div class="bloc-love">
            {% for coeur in coupDeCoeur |slice(0,3) %}
                <a href="{{ path('presentation',{slug: coeur.slug}) }}">
                    <div class="love-item">
                    <div class="love-item_cadre-img">
                        <img src="{{ asset('/uploads/'~coeur.imageEnAvant) }}" alt="">
                    </div>
                        
                        <h3>{{ coeur.title }}</h3>
                        <div class="item-desc">
                            <p>{{ coeur.surfaceHabitable }}m2</p>
                            <p>{{ coeur.nombreDeChambre }}ch</p>
                            <p>{{ coeur.nombreDeSalleDeBain }}sdb</p>
                            <p>terrain {{ coeur.surfaceDuTerrain }} m2</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>

    <section class="container-large">
        <div class="container-contact border-top-bottom">
            <h2>Vous cherchez à acheter ou vendre un bien d’exception ?</h2>
            <p>Faites confiance à Jade Immobilier. Nous garantissons l’accompagnement, l’écoute et le savoir-faire dont vous avez besoin pour mener à bien votre projet.</p>
            <div class="button-1">
                <a href="{{ path('contact') }}">Contactez-nous</a>
            </div>
        </div>
    </section>
    {{ include('_include/_mainFooter.html.twig') }}
{% endblock %}

{% block javascripts%}

{% endblock %}