{% extends 'base.html.twig' %}

{% block title %}Jade Immobilier- L'agence{% endblock %}

{% block body %}
<section class="container-main">
    <div class="container-header-main">
{{ include('_include/_mainNavigationBlack.html.twig') }}
    </div>
</section>

    <section class="agency-desc bloc-text container-medium">
        <h1><span class="title-anim-bis">Jade, votre agence immobilière à Bordeaux</span></h1>
        <p>Située au cœur de Bordeaux, Jade est une agence immobilière prestigieuse et ambitieuse. Spécialisée dans la vente et l’achat de biens immobiliers, nous vous faisons profiter de nos différents biens d’exception sur la région. Bassin d’Arcachon, Cap Ferret, Bordeaux, profitez de notre réseau pour trouver la maison ou l'appartement qui vous correspond. Animée par l’humain et le relationnel, Jade met à votre service une équipe d’experts immobiliers pour mettre en place un suivi rigoureux et vous accompagner durant votre projet immobilier.
        </p>
    </section>

    <section class="container-photo-agency container-medium">
        <div class="photo-agency-1">
            <img src="{{ asset('img/agence-1.jpg') }}" alt="">
        </div>
        <div class="photo-agency-2">
            <img src="{{ asset('img/agence-2.jpg') }}" alt="">
        </div>
    </section>

    <section class="container-large">
        <div class="container-offer text-black border-top-bottom">
            <div class="bloc-offer">
                <h2>Expertise</h2>
                <p>Chez Jade, nous sommes prêts à répondre à vos envies immobilières les plus exceptionnelles. C’est pourquoi nous mettons à votre service notre expérience et notre savoir-faire dans le domaine. </p>
            </div>
            <div class="bloc-offer">
                <h2>Passion</h2>
                <p>Notre équipe, animée par l’envie de vous dénicher la perle rare, vous propose ses services pour acheter mais également vendre vos biens immobiliers d’exception de manière efficiente.</p>
            </div>
            <div class="bloc-offer">
                <h2>Bordeaux</h2>
                <p>Dynamique, élégante et séduisante, Jade Immobilier incarne Bordeaux et ses valeurs. Située au cœur de la capitale du vin, Jade vous emmène dans les quatre coins de la région Aquitaine pour trouver votre petit coin de paradis. </p>

            </div>
        </div>
    </section>

    <section class="container-medium">
        <div class="container-service">
            <h2>Notre offre</h2>
            <p>Experte dans le domaine, Jade vous accompagne dans la vente ou l’achat de biens immobiliers au cœur de la Gironde. Tout au long du processus, nous vous proposons une approche « Conseil » pour atteindre vos objectifs….</p>
        </div>
        <div class="container-offer">
            <div class="bloc-offer">
                <svg xmlns="http://www.w3.org/2000/svg" width="116.17" height="101.25" viewBox="0 0 116.17 101.25">
                    <g id="Groupe_530" data-name="Groupe 530" transform="translate(-424 -2320.811)">
                        <g id="home" transform="translate(425 2321.811)">
                            <path id="Tracé_315" data-name="Tracé 315" d="M3,36.737,47.662,2,92.324,36.737V91.324a9.925,9.925,0,0,1-9.925,9.925H12.925A9.925,9.925,0,0,1,3,91.324Z" transform="translate(-3 -2)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            <path id="Tracé_316" data-name="Tracé 316" d="M9,61.625V12H38.775V61.625" transform="translate(20.775 37.625)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </g>
                        <g id="tag" transform="translate(491.976 2349.871) rotate(-14)">
                            <path id="Tracé_323" data-name="Tracé 323" d="M37.644,23.877,23.9,37.624a3.835,3.835,0,0,1-5.426,0L2,21.173V2H21.173l16.47,16.47A3.835,3.835,0,0,1,37.644,23.877Z" transform="translate(0 0)" fill="#fff" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            <line id="Ligne_162" data-name="Ligne 162" x2="0.019" transform="translate(11.587 11.587)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                        </g>
                    </g>
                </svg>
                <h3>La vente</h3>
                <p>Estimation, mise en avant de votre logement, prise en charge des visites, signature du contrat, Jade s’occupe de tout !
                </p>
            </div>
            <div class="bloc-offer">
                <svg xmlns="http://www.w3.org/2000/svg" width="114.196" height="101.25" viewBox="0 0 114.196 101.25">
                    <g id="Groupe_531" data-name="Groupe 531" transform="translate(-912.974 -2320.811)">
                        <g id="Groupe_426" data-name="Groupe 426" transform="translate(353.974 1458.247)">
                            <g id="home" transform="translate(560 863.563)">
                                <path id="Tracé_315" data-name="Tracé 315" d="M3,36.737,47.662,2,92.324,36.737V91.324a9.925,9.925,0,0,1-9.925,9.925H12.925A9.925,9.925,0,0,1,3,91.324Z" transform="translate(-3 -2)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                <path id="Tracé_316" data-name="Tracé 316" d="M9,61.625V12H38.775V61.625" transform="translate(20.775 37.625)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            </g>
                            <g id="search" transform="translate(618.278 884.818) rotate(-9)">
                                <circle id="Ellipse_13" data-name="Ellipse 13" cx="23.5" cy="23.5" r="23.5" transform="translate(0 0)" fill="#fff" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            </g>
                            <g id="check-circle" transform="translate(632.619 892.59)">
                                <path id="Tracé_312" data-name="Tracé 312" d="M17.305,7.862v.8A8.653,8.653,0,1,1,12.174.75" transform="matrix(0.809, 0.588, -0.588, 0.809, 10.172, 0)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            </g>
                            <path id="Tracé_320" data-name="Tracé 320" d="M-7825,14865.895h8.8" transform="translate(8458.619 -13963.447)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                            <path id="Tracé_321" data-name="Tracé 321" d="M-7825,14865.895h8.8" transform="translate(8458.619 -13958.988)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"/>
                        </g>
                    </g>
                </svg>
                <h3>L'achat</h3>
                <p>Généreuse, Jade vous fait profiter de son carnet d’adresses répertoriant des biens d’exception inédits et prestigieux :  Bordeaux, Bassin d’Arcachon, Cap Ferret.
                </p>
            </div>
            <div class="bloc-offer">
                <svg xmlns="http://www.w3.org/2000/svg" width="114" height="101.25" viewBox="0 0 114 101.25">
                    <g id="Groupe_532" data-name="Groupe 532" transform="translate(-1405 -2320.811)">
                        <g id="home" transform="translate(1406 2321.811)">
                            <path id="Tracé_315" data-name="Tracé 315" d="M3,36.737,47.662,2,92.324,36.737V91.324a9.925,9.925,0,0,1-9.925,9.925H12.925A9.925,9.925,0,0,1,3,91.324Z" transform="translate(-3 -2)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            <path id="Tracé_316" data-name="Tracé 316" d="M9,61.625V12H38.775V61.625" transform="translate(20.775 37.625)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </g>
                        <g id="help-circle" transform="translate(1471 2336.876)">
                            <circle id="Ellipse_18" data-name="Ellipse 18" cx="22.5" cy="22.5" r="22.5" transform="translate(2 2.124)" fill="#fff" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            <path id="Tracé_324" data-name="Tracé 324" d="M9.09,11.55a6.817,6.817,0,0,1,13.247,2.272c0,4.544-6.817,6.817-6.817,6.817" transform="translate(9.02 6.355)" fill="#fff" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            <line id="Ligne_163" data-name="Ligne 163" x2="0.023" transform="translate(24.722 36.083)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </g>
                    </g>
                </svg>
                <h3>Le conseil</h3>
                <p>Acheter ou vendre un bien est loin d’être simple. Pour rendre cette expérience facile et agréable, nous vous accompagnons tout au long de ce processus afin d’optimiser votre temps et d’atteindre votre objectif.
                </p>
            </div>
        </div>
    </section>

    <section class="container-bg">
        <div class="container-small container-portrait">
            <div class="bloc-portrait-desc text-white">
                <h2>Votre conseiller</h2>
                <p>L'humain et le relationnel sont les deux valeurs que défend
                    Arthur Joyaux. Expert immobilier, il écoute et accompagne
                    ses clients en adaptant ses champs d’actions en fonction des
                    besoins et de la situation de chacun. Avec l’Agence Jade,
                    Arthur souhaite vous apporter des conseils bienveillants et
                    avisés pour mener à bien votre projet immobilier mais
                    également vous accompagner lors de vos grandes prises de
                    décisions tel que l’achat d’un nouveau logement.</p>
            </div>
            <div class="bloc-portrait">
                <div class="bloc-portrait_title text-white">
                    <h3>Arthur JOYAUX</h3>
                    <p>Fondateur de Jade Immobilier</p>
                </div>
                <div class="bloc-portrait_img">
                    <img src="{{ asset('img/photo-arthur-joyaux.jpg') }}" alt="">
                </div>
            </div>
        </div>

    </section>

    <section class="container-love container-large">
        <h2>Les coups de coeur de Jade</h2>
        <div class="bloc-love">
            {% for coeur in coupDeCoeur |slice(0,3) %}
                <a href="{{ path('presentation',{id: coeur.id}) }}">
                    <div class="love-item">
                        <img src="{{ asset('/uploads/'~coeur.imageEnAvant) }}" alt="">
                        <h3>{{ coeur.localisation }}</h3>
                        <div class="item-desc">
                            <p>{{ coeur.surfaceHabitable }}m2</p>
                            <p>{{ coeur.nombreDeChambre }}ch</p>
                            <p>{{ coeur.nombreDeSalleDeBain }}sdb</p>
                            <p>terrain {{ coeur.surfaceDuTerrain }} m2</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>

    <section class="container-large">
        <div class="container-contact border-top-bottom">
            <h2>Vous cherchez à acheter ou vendre un bien d’exception ? </h2>
            <p>Conseils, suivi, accompagnement, nous vous accompagnons tout au long du processus d’achat et de vente.</p>
            <div class="button-1">
                <a href="">Contactez-nous</a>
            </div>
        </div>
    </section>
    {{ include('_include/_mainFooter.html.twig') }}
{% endblock %}

{% block javascripts%}

{% endblock %}