{% extends 'base.html.twig' %}

{% block body %}
    {{ include('_include/_indexcouverture.html.twig') }}
    <section class="container-home">
        <div class="container-header">

            {{ include('_include/_mainNavigation.html.twig') }}

            <div class="home-img">
                <img src="{{ asset('img/jade-accueil-img.jpg') }}" alt="">
            </div>
            <div class="home-title container-medium">
                <h1><span class="title-anim">JADE<span class="title-grey">IMMOBILIER</span></span></h1>
            </div>
            <div class="container-search search-mobile">
                <form method="post">
                    <div class="border-right custom-select">
                        <select class="" name="localisation" id="select-localisation">
                            <option value="">Localisation</option>
                        </select>
                    </div>
                    <div class="border-right custom-select">
                        <select class="" name="typeDeBien" id="">
                            <option value="">Type de bien</option>
                            <option value="Appartement">Appartement</option>
                            <option value="Maison">Maison</option>
                            <option value="Villa">Villa</option>
                            <option value="Immeuble">Immeuble</option>
                            <option value="Terrain">Terrain</option>
                            <option value="Propriété/Chateau">Propriété/chateau</option>
                        </select>
                    </div>
                    <div class="border-right">
                        <input type="text" name="surfaceMin" id="" placeholder="Surface minimum">
                        <span>m2</span>
                    </div>
                    <div class="border-none">
                        <input type="text" name="prixMax" id="prixMax" placeholder="Prix maximum">
                        <span>€</span>
                    </div>
                    <input class="button-1" type="submit">
                    <div class="dropdown">
                        <div onclick="myFunction()" class="dropbtn">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24"
                                 width="24">
                                <path xmlns="http://www.w3.org/2000/svg"
                                      d="M12 4C12.5523 4 13 4.44772 13 5V11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H13V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V13H5C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11H11V5C11 4.44772 11.4477 4 12 4Z"
                                      fill="#0D0D0D"></path>
                            </svg>
                        </div>
                        <div id="myDropdown" class="dropdown-content">
                            <div class="dropdown-row">
                                <label for="chambre">Nombre de chambres</label>
                                <div class="dropdown-spinner">
                                    <span class="spinner" onclick="majQuantite(-1,'chambre')">-</span>
                                    <input class="quanti-invitati" type="number" value="0" min="0" max="20" id="chambre"
                                           name="chambre">
                                    <span class="spinner" onclick="majQuantite(+1,'chambre')">+</span>
                                </div>

                            </div>
                            <div class="dropdown-row">
                                <label for="piece">Nombre de pièces</label>
                                <div class="dropdown-spinner">
                                    <span class="spinner-bis" onclick="majQuantite(-1,'piece')">-</span>
                                    <input class="quanti-invitati-bis" type="number" value="0" min="0" max="20"
                                           id="piece" name="piece">
                                    <span class="spinner-bis" onclick="majQuantite(+1,'piece')">+</span>
                                </div>
                            </div>

                            <div class="dropdown-row">
                                <label for="surface-bien">Surface du bien</label>
                                <div class="dropdown-bloc">
                                    <div class="dropdown-item">
                                        <input type="number" id="surface-bien" name="surfaceBienMin"
                                               placeholder="Surface minimum"><span>m2</span>
                                    </div>
                                    <div class="dropdown-item">
                                        <input type="number" id="surface-bien" name="surfaceBienMax"
                                               placeholder="Surface maximum"><span>m2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-row">
                                <label for="surface-terrain">Surface du terrain</label>
                                <div class="dropdown-bloc">
                                    <div class="dropdown-item">
                                        <input type="number" id="surface-terrain" name="surfaceTerrainMin"
                                               placeholder="Surface minimum"><span>m2</span>
                                    </div>
                                    <div class="dropdown-item">
                                        <input type="number" id="surface-terrain" name="surfaceTerrainMax"
                                               placeholder="Surface maximum"><span>m2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-row">
                                <p>Équipement</p>
                                <div class="dropdown-bloc">
                                    <div class="dropdown-col">
                                        <div class="dropdown-item-2">
                                            <input type="checkbox" id="piscine" name="piscine">
                                            <label for="piscine">Piscine</label>
                                        </div>
                                        <div class="dropdown-item-2">
                                            <input type="checkbox" id="terrasse" name="terrasse">
                                            <label for="terrasse">Terrasse</label>
                                        </div>
                                        <div class="dropdown-item-2">
                                            <input type="checkbox" id="balcon" name="balcon">
                                            <label for="balcon">Balcon</label>
                                        </div>

                                    </div>

                                    <div class="dropdown-col">
                                        <div class="dropdown-item-2">
                                            <input type="checkbox" id="jardin" name="jardin">
                                            <label for="jardin">Jardin</label>
                                        </div>
                                        <div class="dropdown-item-2">
                                            <input type="checkbox" id="cave" name="cave">
                                            <label for="cave">Cave</label>
                                        </div>
                                        <div class="dropdown-item-2">
                                            <input type="checkbox" id="parking" name="parking">
                                            <label for="parking">Parking</label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </form>
            </div>
            <div class="button-mobile">
                <a class="button-1" href="{{ path('achat') }}">Je souhaite acheter</a>
                <a class="button-1" href="{{ path('vendre') }}">Je souhaite vendre</a>
            </div>
        </div>
    </section>

    <section class="container-agency container-medium">
        <div class="agency-img">
            <img src="{{ asset('img/agence-jade.jpg') }}" alt="">
        </div>
        <div class="agency-desc bloc-text">
            <h2>Jade Immobilier, <br>une agence à votre service</h2>
            <p>Vendre ou acheter un bien immobilier est l’un des projets les plus importants dans une vie. Votre projet
                est unique et vous aussi. C’est pour cela que chez Jade, nous vous assurons un suivi sur-mesure et un
                accompagnement personnalisé. De Bordeaux au Cap Ferret, notre équipe mobilise tout son savoir-faire et
                active ses réseaux pour trouver l’opportunité d’achat ou de vente qui vous correspond.</p>
            <div>
                <a class="button-1" href="{{ path('agence') }}">Découvrir Jade</a>
            </div>
        </div>
    </section>

    <section class="container-bg">
        <div class="onsale">
            <div class="container-medium onsale-desc bloc-text">
                <h2>Les biens Immobiliers en vente</h2>
                <p>Découvrez les maisons, appartements ou villas d'exception à vendre dans la région.</p>
            </div>
            <div class="onsale-bg container-medium">
                <div class="onsale-item">
                    <div class="onsale-bloc carousel carousel-home">
                        {% for annonce in annonces %}
                            <div class="onsale-bloc-item">
                                <a href="{{ path('presentation',{slug: annonce.slug}) }}">
                                    <div class="item-desc-img">
                                        {% if annonce.statutDeVente != null %}
                                            <div class="bandeau-image">
                                                {{ annonce.statutDeVente }}
                                            </div>
                                        {% endif %}
                                        <img src="{{ asset('/uploads/'~ annonce.imageEnAvant) }}" alt="">
                                    </div>
                                    <div class="bloc-item-desc">
                                        <h3>{{ annonce.title }}</h3>
                                        <div class="item-desc">
                                            <p>{{ annonce.surfaceHabitable }} m2</p>
                                            <p>{{ annonce.nombreDeChambre }}ch</p>
                                            {% if annonce.parking %}
                                                <p>Parking</p>
                                            {% endif %}
                                            {% if annonce.surfaceDuTerrain != 0 %}
                                                <p>Terrain {{ annonce.surfaceDuTerrain }} m2</p>
                                            {% endif %}
                                        </div>
                                        <p class="item-desc-price">{{ annonce.prixAvecHonoraires |number_format(0,'.',' ') }}
                                            €</p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="onsale-button-bloc-home prevandnext">
                        <div class="button-prev prev">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24">
                                <path xmlns="http://www.w3.org/2000/svg"
                                      d="M14.7071 5.29289C15.0976 5.68342 15.0976 6.31658 14.7071 6.70711L9.41421 12L14.7071 17.2929C15.0976 17.6834 15.0976 18.3166 14.7071 18.7071C14.3166 19.0976 13.6834 19.0976 13.2929 18.7071L7.29289 12.7071C6.90237 12.3166 6.90237 11.6834 7.29289 11.2929L13.2929 5.29289C13.6834 4.90237 14.3166 4.90237 14.7071 5.29289Z"
                                      fill="#FFFFFF"></path>
                            </svg>
                        </div>
                        <div class="button-next next">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24">
                                <path xmlns="http://www.w3.org/2000/svg"
                                      d="M14.7071 5.29289C15.0976 5.68342 15.0976 6.31658 14.7071 6.70711L9.41421 12L14.7071 17.2929C15.0976 17.6834 15.0976 18.3166 14.7071 18.7071C14.3166 19.0976 13.6834 19.0976 13.2929 18.7071L7.29289 12.7071C6.90237 12.3166 6.90237 11.6834 7.29289 11.2929L13.2929 5.29289C13.6834 4.90237 14.3166 4.90237 14.7071 5.29289Z"
                                      fill="#FFFFFF"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="onsale-desc container-medium">
                <a class="button-2" href="{{ path('achat') }}">Voir tous les biens</a>
            </div>
        </div>
    </section>

    <section class="container-love container-large">
        <h2>Les coups de coeur de Jade</h2>
        <div class="bloc-love">
            {% for coeur in coupDeCoeur |slice(0,3) %}
                <a href="{{ path('presentation',{slug: coeur.slug}) }}">
                    <div class="love-item">
                        <div class="love-item_cadre-img">
                            {% if coeur.statutDeVente != null %}
                                <div class="bandeau-image">
                                    {{ annonce.statutDeVente }}
                                </div>
                            {% endif %}
                            <img src="{{ asset('/uploads/'~coeur.imageEnAvant) }}" alt="">
                        </div>
                        <h3>{{ coeur.title }}</h3>
                        <div class="item-desc">
                            <p>{{ coeur.surfaceHabitable }}m2</p>
                            <p>{{ coeur.nombreDeChambre }}ch</p>
                            <p>{{ coeur.nombreDeSalleDeBain }}sdb</p>
                            {% if coeur.surfaceDuTerrain != 0 %}
                                <p>Terrain {{ coeur.surfaceDuTerrain }} m2</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% endfor %}

        </div>
    </section>

    <section class="container-large">
        <div class="container-contact border-top-bottom">
            <h2>Vous cherchez à acheter ou vendre un bien d’exception ?</h2>
            <p>Faites confiance à Jade Immobilier. Nous garantissons l’accompagnement, l’écoute et le savoir-faire dont
                vous avez besoin pour mener à bien votre projet.</p>
            <div class="button-1">
                <a href="{{ path('contact') }}">Contactez-nous</a>
            </div>
        </div>
    </section>
    {{ include('_include/_mainFooter.html.twig') }}
    <script>
        function majQuantite(qte, champ) {
            quant = document.getElementById(champ).value;
            quantite = parseInt(quant) + parseInt(qte);
            if (quantite <= 0) {
                quantite = 0;
            }
            if (quantite > 20) {
                quantite = 20;
            }
            document.getElementById(champ).value = quantite;
        }
    </script>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/slick.min.js') }}"></script>
    <script src="{{ asset('js/carousel.js') }}"></script>
    <script src="{{ asset('js/search-select.js') }}"></script>
    <script src="{{ asset('js/localisation.js') }}"></script>
{% endblock %}
